.container() {
  width: 320px;
  margin: 0 auto;

  @media @tablet-width {
    min-width: 668px;
  }

  @media @desktop-width {
    width: 1050px;
  }
}

.container-fluid() {
  width: auto;

  @media @tablet-width {
    width: 84%;
    max-width: 1050px;
    margin: 0 auto;
  }
}
