@gray: #ececec;
@gray--light: #f1f1f1;

@color-main: #444444;
@color-main--dark: #000000;
@color-main--light: #ffffff;
@color-secondary: #63d1bb;
@color-secondary--dark: #56c3b2;

@btn-border: 2px solid @color-main;

@font-smaller: 13px;
@font-main: 15px;
@font-big: 18px;
@font-bigger: 25px;
@font-biggest: 27px;

@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1150px)";
@mobile-widths-only: ~"(max-width: 767px)";
