.btn {
  display: inline-block;
  min-width: 256px;
  margin: 0 auto;
  padding: 20px 20px;
  font-size: @font-big;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  color: @color-main;
  border: 2px solid @color-main;

  &--bg-green {
    min-width: 260px;

    color: @color-main--light;

    background-color: @color-secondary;

    border: none;
  }
}
