@media @mobile-width-only {
  .contact-info__title,
  .contact-info__table,
  .contact-info__feedback {
    .container();
    padding: 0 7%;
  }

  .contact-info__attribute {
    width: 30%;
  }

  .contact-info__value {
    width: 40%;
  }
}

.contact-info__title {
  margin: 0;
  padding-left: 9%;
  font-size: @font-big;
  color: @color-main--dark;
}

.contact-info__table {
  margin: 0;
  margin-top: 23px;
  margin-bottom: 6px;
  width: 100%;
}

.contact-info__table td {
  padding-bottom: 27px;
  vertical-align: top;
  line-height: 2;
}


.contact-info__feedback-btn {
  display: block;
  width: 260px;
  margin: 0 auto;
  margin-top: 40px;
}

@media @tablet-width {
  .contact-info {
    position: relative;
  }

  .contact-info__title {
    width: 100%;
    padding: 0 6.5%;
    padding-top: 45px;
    margin-left: -3px;
    margin-bottom: 33px;
    font-size: @font-bigger * 1.75;
  }

  .contact-info__flag {
    position: absolute;
    top: 50px;
    right: 10px;
  }

  .contact-info__table {
    .container();
    display: block;
    width: 100%;
    padding: 0 6.4%;
    margin-bottom: 27px;
  }

  .contact-info tbody {
    display: flex;
  }

  .contact-info__table tr {
    width: 50%;
    margin: 0;
    font-size: @font-big;
  }

  .contact-info td {
    line-height: 1.7;
  }

  .contact-info__value {
    padding-left: 15px;
  }

  .contact-info__table a{
    display: block;
    border-bottom: 1px solid @color-secondary;

    &:hover {
      color: @color-secondary;
    }

    &:active {
      opacity: 0.4;
    }
  }

  .contact-info__feedback {
      .container();
  }

  .contact-info__feedback-btn {
    display: block;
    width: 230px;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media @desktop-width {
  .contact-info {
    .container();
    padding: 0 4.3%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 680px;
  }

  .contact-info__title {
    width: 33.4%;
    margin-top: 90px;
    margin-bottom: 30px;
    margin-left: 9.5%;
    font-size: @font-biggest * 1.96;
  }

  .contact-info__flag {
    position: absolute;
    top: 150px;
    left: 10px;
  }

  .contact-info__table {
    min-width: 0;
    width: 31%;
    padding: 0;
  }

  .contact-info__table tbody {
    flex-direction: column;
  }

  .contact-info__table tr {
    width: auto;
  }

  .contact-info__feedback {
    text-align: left;
    width: 33.4%;
  }

  .contact-info__feedback-btn {
    margin: 0;
    margin-top: 26px;
    margin-left: 26.3%;
  }
}
