@import "../variables.less";
@import "../global/fonts.less";

.inner-header-title {
  padding: 0 30px;

  background-color: @color-back;

  outline: 1px dashed red;
}

.inner-header-title__text {
  .font(27px, 600, 30px, @color-headers);
}
