.inner-header-title {
  padding: 0 30px;

  background-color: @gray--light;

  outline: 1px dashed red;
}

.inner-header-title__text {
  font-size: @font-biggest;
  font-weight: 600;
  color: @color-main--dark;
}
