.main-nav {
  margin: 0 auto;
  padding: 0 30px;
  font: 600 17px/24px sans-serif;
  color: @color-main--dark;

  outline: 1px dashed red;
}

.main-nav__wrapper {
  outline: 1px dashed red;
}

.main-nav__items {
  list-style: none;
}
