.main-header-title {
  min-height: 283px;
  padding: 0 30px;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.main-header-title__text {
  font: 600 27px/30px sans-serif;
  color: @color-main--dark;
}
