@import "../variables.less";
@import "../global/fonts.less";

.main-nav {
  margin: 0 auto;
  padding: 0 30px;
  .font(17px, 600, 24px, @color-headers);

  outline: 1px dashed red;
}

.main-nav--closed {
}

.main-nav__toggle {

}

.main-nav__wrapper {
  outline: 1px dashed red;
}

.main-nav__items {
  list-style: none;
}

.main-nav__item {

}

.main-nav__item--active {

}

.main-nav__search {

}

.main-nav__basket {

}
