.map {
  width: 320px;
  height: 457px;
  margin: 0 auto;
  background-image: url(../img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media @tablet-width{
  .map {
    width: auto;
    height: 457px;
    margin: 0 auto;
    background-image: url(../img/map-tablet.jpg);
  }
}

@media @desktop-width {
  .map {
    order: 1;
    width: 525px;
    margin: 0;
    margin-top: 79px;
    margin-left: -14%;
  }
}
