.map {
  position: relative;
  width: 320px;
  height: 457px;
  margin: 0 auto;
  background-image: url(../img/map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.map__logo {
  position: absolute;
  top: 165px;
  left: 112px;
  width: 90x;
  height: 104px;
}

@media(min-resolution: 1.5dppx) {
  .map {
    background-image: url("../img/map-mobile@2x.jpg");
  }
}

@media @tablet-width{
  .map {
    width: 100%;
    height: 457px;
    margin: 0 auto;
    padding: 0;
    background-image: url(../img/map-tablet@1x.jpg);
  }

  .map__logo {
    top: 170px;
    left: 335px;
  }
}

@media @desktop-width {
  .map {
    order: 1;
    width: 525px;
    margin: 0;
    margin-top: 79px;
    margin-left: -14%;

    background-image: url("../img/map-desktop@1x.jpg");
  }

  .map__logo {
    top: 170px;
    left: 228px;
  }
}

@media(min-resolution: 1.5dppx) and @tablet-width {
  .map {
    background-image: url("../img/map-tablet@2x.jpg");
  }
}

@media(min-resolution: 1.5dppx) and @desktop-width {
  .map {
    background-image: url("../img/map-desktop@2x.jpg");
  }
}
