.modal {
  min-width: 320px;

  outline: 1px dashed red;
}

.modal__title {
  font: 600 25px/30px sans-serif;
  color: @color-main--dark;
  text-align: center;
  text-transform: uppercase;
}

.modal__wrapper {
  margin: 0 auto;
  padding: 0 30px;
}

.modal__btn {
  min-width: 78px;
  margin-right: 7px;

  font: 600 17px/16px sans-serif;
  text-transform: uppercase;

  border: 2px solid @gray;
}

.modal__btn--active {
    border: 2px solid @color-secondary;
}

.modal__add-btn {
    min-width: 260px;

    font: 600 17px/16px sans-serif;
    color: @color-main--light;

    background-color: @color-secondary;

    border: none;
}
