.modal {
  position: fixed;
  top: 30%;
  left: 0;
  z-index: 5;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 335px;
  background-color: @color-main--light;
  box-shadow: 0 8px 10px 0 rgba(233, 233, 233, 0.75);
}

.modal__close {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  z-index: 5;
  width: 25px;
  height: 14px;
  border: none;
  font-size: 0;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 25px;
    height: 3px;
    cursor: pointer;

    background-color: @color-main--dark;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal__title {
  margin-bottom: 0;
  padding: 0 50px;
  font-size: @font-bigger;
  font-weight: 600;
  color: @color-main--dark;
  text-align: center;
  text-transform: uppercase;
}

.modal-text {
  margin: 0 auto;
  margin-bottom: 40px;
}

.modal__wrapper {
  margin: 0 auto;
}

.modal .modal__btn {
  min-width: 78px;
  margin-right: 5px;
  border: 2px solid @gray;

  &:hover {
    color: @color-main--dark;
    background-color: @color-main--light;
    border-color: lighten(@color-main, 50%);
  }

  &:active {
    border: 2px solid @color-secondary;
  }
}

.modal__btn--active {
    border: 2px solid @color-secondary;
}

@media @tablet-width {
  .modal {
    left: 13.5%;
    width: 565px;
    margin: 0 auto;
  }
}

@media @desktop-width {
  .modal {
    left: 33%;
    width: 565px;
    margin: 0 auto;
  }
}
