.order-form {
  outline: 1px dashed red;
}

.order-form__text {
  font: 13px/24px sans-serif;
  color: @color-main;
}

.order-form__fieldset {
  border: 0;
}

.order-form__legend {
  font: 600 17px/16px sans-serif;
  color: @color-secondary;
  text-transform: uppercase;
}

.order-form ul {
  list-style: none;
}

.order-form label {
  font: 600 17px/18px sans-serif;
  color: @color-main--dark;
}

.order-form input {
  font: 17px/18px sans-serif;
  color: lighten(@color-main, 55.5%);
}

.order-form textarea {
  font: 17px/18px sans-serif;
  color: lighten(@color-main, 55.5%);

  resize: none;
}

.order-form__note {
  font: 14px/16px sans-serif;
  color: @color-main;
}

.order-form__btn {
  font: 600 17px/16px sans-serif;
  color: @color-main;
  border: 2px solid @color-main;
}
