.order-form {
  font-size: @font-big;
  font-weight: 600;

  outline: 1px dashed red;
}

.order-form__text {
  font-size: @font-smaller;
  font-weight: 400;
}

.order-form__fieldset {
  border: 0;
}

.order-form__legend {
  color: @color-secondary;
  text-transform: uppercase;
}

.order-form ul {
  list-style: none;
}

.order-form label {

  color: @color-main--dark;
}

.order-form input {
  color: lighten(@color-main, 55.5%);
}

.order-form textarea {
  color: lighten(@color-main, 55.5%);

  resize: none;
}

.order-form__note {
  font-size: @font-smaller;
  font-weight: 400;
}
