@import "../variables.less";
@import "../global/fonts.less";

.page-footer {
  .font(15px, 400, 30px);

}

.page-footer__wrapper {
  margin: 0 auto;
  padding: 0 30px;

  outline: 1px dashed red;
}

.page-footer__feedback-btn {
  min-width: 25px;
  border: 2px solid @color-main;
}

.page-footer__links-wrapper {
  margin: 0 auto;
  padding: 0 30px;

  background-color: @color-back;

}

.page-footer__social {

}

.page-footer__copyright {
  .font(19px, 600, 18px, @color-headers);
}
