.page-footer {
  margin-top: 40px;
  background-color: @gray--light;
}

.page-footer__wrapper {
  .container;
}

.page-footer__links-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}


.page-footer__copyright {
  position: relative;
  flex-basis: 50%;
  width: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  padding-left: 5px;
  font-size: @font-big;
  font-weight: 600;
  color: @color-main--dark;
  text-align: center;

  &:active {
    opacity: 0.5;
  }
}

.page-footer__copyright-img {
  position: absolute;
  right: 60px;
  top: 10px;
  width: 40px;
  height: 50px;
  fill: @color-secondary;

  &:hover {
    fill: @color-secondary;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-footer__text {
  display: block;
  margin-top: 17px;
  margin-left: -50px;
  vertical-align: top;
}

.page-footer__logo {
  display: none;
}


@media @tablet-width {
  .page-footer__wrapper {
    padding: 0 6.4%;
  }

  .page-footer__links-wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .page-footer__logo {
    display: block;
    flex-basis: 18%;

    &:hover {
      fill: @color-secondary;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .page-footer__logo-img {
    padding-top: 48px;
  }

  .page-footer__copyright {
    position: relative;
    flex-basis: 33%;
    margin: 0;
    padding-top: 40px;

    &:hover {
      fill: @color-secondary;
    }

    &:active {
      opacity: 0.5;
    }
  }

  .page-footer__copyright-img {
    position: absolute;
    top: 38px;
    right: -8px;
    &:hover {
      fill: @color-secondary;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

@media @desktop-width {
  .page-footer__wrapper {
    padding: 0 4.3%;
  }
  .page-footer__links-wrapper {
    margin-top: 105px;
  }

  .page-footer__copyright {
    text-align: left;
  }

  .page-footer__text {
    padding-left: 60%;
  }

}
