@import "../variables.less";
@import "../global/fonts.less";

.page-header {
  margin: 0 auto;
  padding: 0 30px;
  .font(17px, 600, 24px, @color-headers);

  outline: 1px dashed red;
}

.page-header__logo {
  margin: auto;
}
