.page-footer__wrapper {
  margin: 0 auto;
  padding: 0 30px;

  outline: 1px dashed red;

}

.page-footer__links-wrapper {
  margin: 0 auto;
  padding: 0 30px;

  background-color: @gray--light;

}

.page-footer__copyright {
  font-size: @font-big;
  font-weight: 600;
  color: @color-main--dark;
}
