.process-video {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 33px;
  margin-bottom: 60px;
  border: 1px solid @gray;
}

.process-video__title {
  padding-top: 6px;
  padding-bottom: 9px;
  padding-left: 35%;
  padding-right: 40px;
  font-size: @font-big;
  font-weight: 600;
  line-height: 1.5;
  color: @color-main--dark;

}

.process-video__video {
  margin-bottom: 26px;
}

.process-video__video img {
  width: 260px;
  height: 150px;
  margin: 0;
  padding: 0;
}

.process-video__text {
  margin: 0;
  padding: 0 13%;
  font-size: @font-smaller;
  line-height: 1.85;
}

.process-video__btn {
  display: block;
  min-width: 190px;
  width: 190px;
  margin: 0 auto;
  margin-top: 23px;
  padding: 10px 0;
}

@media @tablet-width {
  .process-video {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-bottom: 45px;
    margin-bottom: 65px;
  }
  .process-video__video {
    order: -1;
    width: 668px;
    height: 457px;
  }

  .process-video__video img {
    width: 668px;
    height: 457px;
  }

  .process-video__title {
    margin: 0;
    margin-bottom: 22px;
    padding-left: 15%;
    padding-right: 40px;
    font-size: @font-big * 1.2;
    font-weight: 600;
    line-height: 1.5;
    color: @color-main--dark;
  }

  .process-video__text {
    margin: 0;
    padding: 0 6%;
    font-size: @font-main;
  }

  .process-video__btn {
    margin-top: 37px;
    padding: 10px 29%;
  }
}

@media @desktop-width {
  .process-video {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 455px;
    padding-bottom: 0;
  }

  .process-video__title {
    width: 23%;
    margin-bottom: 35px;
    padding: 0;
    padding-top: 96px;
    padding-left: 5%;
    line-height: 1.2;
  }

  .process-video__video {
    width: 681px;
    height: 456px;
  }

  .process-video__video img {
    width: 681px;
    height: 456px;
  }

  .process-video__text {
    width: 25%;
    margin: 0;
    padding: 0;
    padding-left: 5%;
    line-height: 2;
  }

  .process-video__btn {
    width: 230px;
    margin: 0;
    margin-top: 44px;
    margin-left: 5%;
    padding: 10px 0;
  }
}
