.process-video {
  outline: 1px dashed red;
}

.process-video__title {
  font: 600 17px/24px sans-serif;
  color: @color-main--dark;
}

.process-video__text {
  font-size: 13px;
}

.process-video__btn {
  border: @btn-border;
  color: @color-main;
}
