@import "../variables.less";
@import "../global/fonts.less";

.product-card {
  .font();
  outline: 1px dashed red;
}

.product-card__title {
  .font (25px, 600, 30px, @color-headers);
}

.product-card__subtitle {
  .font(17px, 600, 16px, @green-1);
  text-transform: uppercase;
}

.product-card__table {

}

.product-card__attribute {

}

.product-card__value {

}

.product-card__image {

}

.product-card__price {

}

.product-card__order {
  min-width: 256px;
  border: 2px solid @color-main;
}
