.product-card {
  outline: 1px dashed red;
}

.product-card__title {
  font: 600 25px/30px sans-serif;
  color: @color-main--dark;
}

.product-card__subtitle {
  font: 600 17px/16px sans-serif;
  color: @color-secondary;
  text-transform: uppercase;
}

.product-card__order {
  min-width: 256px;
  border: 2px solid @color-main;

  font: 600 17px/16px sans-serif;
  color: @color-main;
}
