@import "../variables.less";
@import "../global/fonts.less";

.reviews {
  .font();
  outline: 1px dashed red;
}

.reviews__title {
  .font(25px, 600, 30px, @color-headers);
}

.reviews__item {

}

.reviews__author {
  .font(18px, 600, normal, @color-headers);
}

.reviews__email {
  .font(16px);
}

.reviews__btn {
  min-width: 136px;
  border: 2px solid @color-main;

}

.reviews__prev {

}

.reviews__next {

}
