.reviews {
  margin-bottom: 90px;
  text-align: center;
  outline: 1px dashed red;
}

.reviews__title {
  font-size: @font-bigger;
  font-weight: 600;
  color: @color-main--dark;
  text-align: left;
}

.reviews__item {
  margin: 0;
  text-align: left;
}

.reviews__author {
  font-size: @font-big;
  font-weight: 600;
  color: @color-main--dark;
}

.reviews__email {
  font-weight: 400;
  color: @color-main;
}

.reviews__pagination {
  padding: 35px 0;
  text-align: center;
}

.reviews .reviews__pages {
  display: inline-block;
  min-width: 136px;
  border: 1px solid @gray;
}

.reviews__btn {
  margin: 0 auto;
}

@media @tablet-width {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
  }

  .reviews__title{
    order: -2;
    width: 50%;
    margin: 0;
    outline: 1px dashed blue;
  }

.reviews__btn {
    order: -1;
    margin: 0;
  }

  .reviews__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__author {
    width: 50%;
  }

.reviews .reviews__pages {
    border: 0;
    outline: 1px dashed blue;
  }
}

@media @desktop-width {
  .reviews {
      width: 875px;
      padding-left: 175px;
  }
}
