.social-btns {
  display: flex;
  justify-content: space-around;
  min-height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 1px dashed blue;
}

.social-btns__btn {
  margin: auto 20px;
}

.social-btns__btn a {
  position: relative;
  min-width: 25px;
  text-decoration: none;
}

@media @tablet-width {
  .social-btns__btn a {
    padding-top: 25px;
  }
}
