.social-btns {
  list-style: none;
  outline: 1px dashed red;
}

.social-btns__btn a {
  position: relative;
  display: inline-block;
  min-width: 25px;
  margin: 0;
  margin-right: 40px;
  vertical-align: top;
  text-decoration: none;
}
